.what_makes_bg{
    background: linear-gradient(88.47deg, rgba(255, 205, 235, 0.49) 3.2%, rgba(255, 230, 255, 0.49) 99.15%);
}
.what_makes_us_diff h2{
    text-align: center;
}
.what_makes_us_diff p{
    color:rgba(30, 29, 30, 0.49);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.common_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* border: 1px solid green; */
    padding:20px 0;
}
.common_card .desc{
    text-align: justify;
    color:rgba(30, 29, 30, 0.49);
    font-size: 14px;
}
.common_card h6{
    margin-top:7px;
}